// Color
$color000: #ffffff;
$color100: #f5e8d8;
$color200: #eed6bc;
$color300: #eed2c4;
$color400: #786257;
$color500: #0f0f0f;
$color600: #ff3333;

// font Size
$bigTitle: 3.5rem;
$title: 2rem;
$subTitle: 1.8rem;
$bigParagraph: 1.3rem;
$paragraph: 1rem;
$small: 0.7rem;

//transition
$superFast: all ease-in-out 0.1s;
$fast: all ease-in-out 0.3s;
$medium: all ease-in-out 0.5s;
$slow: all ease-in-out 0.7s;
$superSlow: all ease-in-out 1s;

@mixin flex($flex, $just, $align, $gap) {
  display: flex;
  flex-direction: $flex;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}

@mixin size($width, $height, $padding) {
  width: $width;
  height: $height;
  padding: $padding;
}

@mixin grid($width, $fr, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width, $fr));
  gap: $gap;
}

@mixin title($size) {
  text-align: center;
  font-size: $size;
  color: $color000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

@mixin button($size) {
  padding: 0.5rem 3rem;
  font-size: $size;
  background-color: $color400;
  color: $color100;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: $fast;

  &:hover {
    transition: $fast;
    color: $color400;
    background-color: $color100;
  }
}
